{{/* USAGE */}}
{{- $items := split .Inner "\n- " -}}
{{- $class := .Get "class" -}}
{{- $gridCols := .Get "cols" | default "3" -}}
{{- $gridBackground := .Get "bg" | default "white" | safeCSS -}}
{{- $imageAspectRatio := .Get "imageratio" | default "1" | safeCSS -}}
{{- $imageActiveOutlineSize := .Get "imageoutlinesize" | default "0.25rem" | safeCSS -}}
{{- $imageActiveOutlineColor := .Get "imageoutlinecolor" | default "gray" | safeCSS -}}
{{- $captionPadding := .Get "cappad" | default "0.25rem" | safeCSS -}}
{{- $captionFontSize := .Get "capsize" | default "1rem" | safeCSS -}}
{{- $capFontColor := .Get "capcolor" | default "black" | safeCSS -}}
{{- $capBackground := .Get "capbg" | default "rgba(255, 255, 255, 0.65)" | safeCSS -}}
{{- $inactiveOpacity := .Get "inactiveopacity" | default "0.333" | safeCSS -}}
{{- $scaleFactor := .Get "scale" | default "2" -}}
{{- $durationExpand := .Get "durexpand" | default "0.5s" | safeCSS -}}
{{- $durationShrink := .Get "durshrink" | default "0.25s" | safeCSS -}}

<section class="container">
  <div class="flex">
    {{ range $items -}}
      {{- $fields := split . "\n  " -}}
      {{- $src := index $fields 0 }}
      {{- $alt := index $fields 1 }}
      {{- $cap := index $fields 2 }}
      {{ with $src -}}
      <div class="box speaker" style="width: 18rem;">
                  <figure>
                    <img src="{{ . }}" {{ with $alt }}alt="{{ . }}"{{ end }} width="100px" class="card-img-top" />
                    {{ with $cap -}}
                      <figcaption>{{ . }}</figcaption>
                    {{ end -}}
                  </figure>
      </div>          
      {{ end -}}
    {{ end -}}
  </div>
</section>
